

@media only screen and (max-width: 1200px) {
    .card-element { 
    
        flex-direction: column;
        padding: 50px 5%;
        width: 90%;
    }

    .benefits-header { 
        text-align: center;
    }

   

    .benefits-container-element, .benefits-container-all, .benefits-container-quantity { 
        width: unset;
    }

    .benefits-rows { 
        width: 50%;
    }

   
  }

  @media only screen and (max-width: 900px) {
    	.animals-container { 
            flex-direction: column;
            gap: 50px;
        }

        .animals-container p { 
            font-size: 3.5vw;
        }
    

    
    
   
  }








  @media only screen and (max-width: 800px) {
    .header-container-itens { 
        display: none;
    }

    .switcher p { 
        font-size: 14px;
    }

    .img-swither { 
        height: 75px;
        width: 75px;
    }

    .benefits-switchers { 
        gap: 15px;
        bottom: -7.5%;
    }

    .switcher-first, .switcher-second { 
        gap:15px;
    }

    .land-container { 
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 5%;
    }

    .land-container-itens { 
        width: 100%;
    }

    .land-container-itens p { 
        font-size: 3.5vw;
    }

    .land-image { 

        width: 100%;
        margin-left: -15%;
        
        }

    .art-container { 
       margin: 5%;
    }

    .art-header { 
        width: 100%;
    }


    .art-header p  { 
        font-size: 3.5vw;
    }

    .art-first, .art-second { 
        width: 80%;
    }
    
   
  }

  @media only screen and (max-width: 600px) {
    .animals-photo { 
        height: 300px;
        width: 300px;
    }
    
    .button-container { 
        font-size: 16px;
    }

    h3 { 
        font-size: 6vw;
    }

    h4 { 
        font-size: 6vw;
    }

    h2 { 
        font-size: 5vw;
    }

    .benefits-itens { 
        flex-direction: column;
        width: 100%;
    }
    .benefits-container { 
        height: 1200px;
    }
    
    .benefits-container-element, .benefits-container-quantity,.benefits-container-all  { 
        width: 100%;
    }

    .benefits-rows { 
        width: 100%;
    }

    .benefits-switchers { 
        gap: 5px;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: unset;
        
    }

    .benefits-container { 
        gap: 25px;
    }

    .switcher-first, .switcher-second { 
        gap: 5px;
    }
   
  }


 

  @media only screen and (max-width: 450px) {
    h3 { 
        font-size: 8vw;
    }

   


    .benefits-header p { 
        font-size: 16px;
    }

    

    .benefit-image { 
        height: 200px;
        width: 200px;
    }
    
    .benefits-container { 
        height: auto;
    }

  
    footer p { 
        font-size: 14px;
    }
    

    
    
   
  }





  